.container {
    display: flex;
    height: 100vh;
}

.rightSection {
    width: 40%;
    overflow: auto;
    border-left-width: 1px;
    height: 100vh;
}

.leftSection {
    width: 60%;
    overflow: auto;
    padding: 2rem;
    height: 100%;
}

.leftSectionContent {
    margin-top: 1.5rem;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
}

.input {
    width: 100%;
}

.bottomSection {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    border-top-width: 1px;
}