.box {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: var(--chakra-spacing-4);
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    padding-inline: 1.25em;
}

.icon {
    line-height: var(--presentation-body-line-height) !important;
    width: 1.25em;
    height: 1.25em;
    display: inline-flex;
    align-items: baseline;
}
