.layoutMenu {
    display: flex; 
    flex-direction: column; 
    gap: 1rem; 
}

.alignment {
    padding-top: 1rem;
    border-top-width: 1px;
    border-color: var(--color-border);
}

.alignmentTitle {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: var(--color-text);
}

.alignmentItems {
    display: flex; 
    gap: 0.5rem;
}

.deleteLayout {
    padding-top: 1rem;
    border-top-width: 1px;
    border-color: var(--color-border);
}

.deleteLayoutItem {
    color: var(--color-error);

    &:hover {
        color: var(--color-error);
    }
}