.wrapper {
  width: 320px;
  height: 180px;
  position: relative;
  overflow: hidden;
  background-color: var(--color-background);
}

.scaled {
  width: 100%;
  height: auto;
  transform-origin: top center;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--color-text-light);
}
