.templateButton {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1.2;
    border-radius: var(--chakra-radii-3xl);
    font-weight: 600;
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
    color: var(--chakra-colors-primary-subtle-text);
    font-family: var(--chakra-fonts-body);
    height: var(--chakra-sizes-10);
    min-width: var(--chakra-sizes-10);
    font-size: var(--chakra-fontSizes-md);
    padding-inline-start: var(--chakra-space-4);
    padding-inline-end: var(--chakra-space-4);
    border-width: 1px;
    border-style: solid;
    border-color: var(--chakra-colors-gray-300);
    background: var(--chakra-colors-trueblue-50);
    padding: 0px;
    flex: 1 1 0%;
    box-shadow: var(--chakra-shadows-none);
}

.templateButtonIcon {
    box-sizing: border-box;
    height: 1.25rem;
    width: 1.75rem;
    border-width: 2px;
    border-style: solid;
    border-image: initial;
    border-radius: var(--chakra-radii-sm);
    border-color: var(--chakra-colors-gray-300);
    background: none;
}

.standard {}

.imageTop {
    border-top-width: 8px;
}

.imageBottom {
    border-bottom-width: 8px;
}

.imageLeft {
    border-left-width: 8px;
}

.imageRight {
    border-right-width: 8px;
}

.imageBackground {
    background-color: var(--chakra-colors-gray-300);
}

.active .imageBackground {
    background-color: var(--chakra-colors-trueblue-400);
}

.active .imageTop,
.active .imageBottom,
.active .imageLeft,
.active .imageRight {
    border-color: var(--chakra-colors-trueblue-400);
}

.alignmentGroup {
    display: flex;
    overflow: hidden;
    margin: 0 4px;
    background-color: white;
    /* padding: 0 12px; */
}

.alignmentGroup .button {
    margin: 0;
    padding: 8px 12px;
    border: 1px solid #e0e0e0;
    border-right: transparent;
}

.alignmentGroup .button:last-child {
    padding-right: 12px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid #e0e0e0;
}

.alignmentGroup .button:first-child {
    padding-left: 12px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


.active,
.active .button {
    border-color: var(--chakra-colors-trueblue-400) !important;
    border-right-width: 1px !important;
    border-right-style: solid !important;
}