.editorContainer {
    display: flex; 
    flex-direction: column; 
    min-height: 100%;
    background-color: var(--color-background);
}

.notFoundUI {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}

.notFoundUIText {
    font-size: 1.125rem;
    line-height: 1.75rem; 
    color: #6B7280; 
}