.editorContainer {
    display: flex; 
    flex-direction: column; 
    min-height: 100%;
    background-color: var(--color-background);
}

.slide {
    display: flex;
    top: 0px;
    left: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: default;
    font-size: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: calc(2em + 190px + 0px);
    padding-right: calc(2em + 60px + 0px);
    margin: 0px auto;
    transition-property: transform, padding;
    transition-duration: 200ms;
}

.notFoundUI {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}

.notFoundUIText {
    font-size: 1.125rem;
    line-height: 1.75rem; 
    color: #6B7280; 
}