.button {
    border: none;
    background-color: transparent;
    border-radius: 4px;
    padding: 6px 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    color: var(--color-text) !important;
}

.button:hover {
    background-color: var(--color-background) !important;
    color: var(--color-accent) !important;
}
