.toolPanel {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    justify-content: center;
    color: #3c3838;
    right: 1rem;
    z-index: 100;
    pointer-events: auto;
}

.popupMenu {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    margin-right: 0.75rem;
    z-index: 110;
    pointer-events: auto;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}