.menuButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
}

.menuButton:hover {
    background-color: #f0f0f0;
}

.active {
    background-color: #f0f0f0;
}