.container {
    display: grid;
    gap: 3em 1.5em;
}

.focused {
    outline: 2px solid var(--color-primary);
    outline-offset: 0.25em;
    border-radius: var(--presentation-slide-border-radius);
}

.itemContainer {
    position: relative;
    grid-column: span 6;
}

.dropIndicator {
    position: absolute;
    background-color: var(--color-primary);
    z-index: 10;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.dropIndicator.left {
    left: -5px;
    top: 0;
    width: 4px;
    height: 100%;
    border-radius: 2px;
}

.dropIndicator.right {
    right: -5px;
    top: 0;
    width: 4px;
    height: 100%;
    border-radius: 2px;
}

.imageViewer {
    max-height: 100%;
    object-fit: cover;
    object-position: top;
}