.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

/* .focused {
    outline: 2px solid var(--color-primary);
    outline-offset: 0.25em;
    border-radius: var(--presentation-slide-border-radius);
} */

.itemContainer {
    position: relative;
    flex: 1 1 auto;
    width: calc(25% - 1em);
    box-sizing: border-box;
    transition: box-shadow 0.2s ease;
    border-radius: var(--presentation-slide-border-radius);
    border-width: var(--presentation-block-border-width);
    /* overflow: hidden; */
}

.dropIndicator {
    position: absolute;
    background-color: var(--color-primary);
    z-index: 10;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.dropIndicator.left {
    left: -5px;
    top: 0;
    width: 4px;
    height: 100%;
    border-radius: 2px;
}

.dropIndicator.right {
    right: -5px;
    top: 0;
    width: 4px;
    height: 100%;
    border-radius: 2px;
}

.step {
    width: 100%;
    height: 18px;
    border-radius: 8px;
    border: 2px solid var(--presentation-block-border-color);
    margin-bottom: 8px;
    position: relative;
    overflow: hidden;
}

.step::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--custom-block-background, var(--presentation-block-background));
}

[style*="--presentation-block-background-custom-type: primary"] .step {
    border-color: var(--presentation-block-border-color);
}

/* Применение стилей для primary типа (акцентные цвета) */
[style*="--presentation-block-background-custom-type: primary"] .step::before {
    background-color: var(--custom-block-background, var(--presentation-block-background));
}

/* Применение стилей для custom типа (кастомные цвета) */
[style*="--presentation-block-background-custom-type: custom"] .step::before {
    background-color: var(--custom-block-background, var(--presentation-block-background-custom-1, var(--presentation-block-background)));
}

/* Для 1 цвета - применяется ко всем шагам */
[style*="--presentation-block-background-custom-count: 1"] .itemContainer:nth-child(n) .step::before {
    background: var(--custom-block-background, var(--presentation-block-background-custom-1, var(--presentation-block-background)));
}

/* Для 2 цветов */
[style*="--presentation-block-background-custom-count: 2"] .itemContainer:nth-child(2n+1) .step::before {
    background: var(--custom-block-background, var(--presentation-block-background-custom-1, var(--presentation-block-background)));
}

[style*="--presentation-block-background-custom-count: 2"] .itemContainer:nth-child(2n) .step::before {
    background: var(--custom-block-background, var(--presentation-block-background-custom-2, var(--presentation-block-background)));
}

/* Для 3 цветов */
[style*="--presentation-block-background-custom-count: 3"] .itemContainer:nth-child(3n+1) .step::before {
    background: var(--custom-block-background, var(--presentation-block-background-custom-1, var(--presentation-block-background)));
}

[style*="--presentation-block-background-custom-count: 3"] .itemContainer:nth-child(3n+2) .step::before {
    background: var(--custom-block-background, var(--presentation-block-background-custom-2, var(--presentation-block-background)));
}

[style*="--presentation-block-background-custom-count: 3"] .itemContainer:nth-child(3n) .step::before {
    background: var(--custom-block-background, var(--presentation-block-background-custom-3, var(--presentation-block-background)));
}

/* Для 4 цветов */
[style*="--presentation-block-background-custom-count: 4"] .itemContainer:nth-child(4n+1) .step::before {
    background: var(--custom-block-background, var(--presentation-block-background-custom-1, var(--presentation-block-background)));
}

[style*="--presentation-block-background-custom-count: 4"] .itemContainer:nth-child(4n+2) .step::before {
    background: var(--custom-block-background, var(--presentation-block-background-custom-2, var(--presentation-block-background)));
}

[style*="--presentation-block-background-custom-count: 4"] .itemContainer:nth-child(4n+3) .step::before {
    background: var(--custom-block-background, var(--presentation-block-background-custom-3, var(--presentation-block-background)));
}

[style*="--presentation-block-background-custom-count: 4"] .itemContainer:nth-child(4n) .step::before {
    background: var(--custom-block-background, var(--presentation-block-background-custom-4, var(--presentation-block-background)));
}

/* Для 5 цветов */
[style*="--presentation-block-background-custom-count: 5"] .itemContainer:nth-child(5n+1) .step::before {
    background: var(--custom-block-background, var(--presentation-block-background-custom-1, var(--presentation-block-background)));
}

[style*="--presentation-block-background-custom-count: 5"] .itemContainer:nth-child(5n+2) .step::before {
    background: var(--custom-block-background, var(--presentation-block-background-custom-2, var(--presentation-block-background)));
}

[style*="--presentation-block-background-custom-count: 5"] .itemContainer:nth-child(5n+3) .step::before {
    background: var(--custom-block-background, var(--presentation-block-background-custom-3, var(--presentation-block-background)));
}

[style*="--presentation-block-background-custom-count: 5"] .itemContainer:nth-child(5n+4) .step::before {
    background: var(--custom-block-background, var(--presentation-block-background-custom-4, var(--presentation-block-background)));
}

[style*="--presentation-block-background-custom-count: 5"] .itemContainer:nth-child(5n) .step::before {
    background: var(--custom-block-background, var(--presentation-block-background-custom-5, var(--presentation-block-background)));
}



.textBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 8px 0;
    min-height: 110px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.vertical {
    flex-direction: row;
    align-items: flex-start;
}

.vertical .step {
    width: 18px;
    align-self: stretch;
    height: auto;
    margin-bottom: 0;
    margin-right: 8px;
}

.textBoxContent {
    margin-top: 18px;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addButton {
    position: absolute;
    opacity: 1;
    top: 50%;
    right: 4px;
    transform: translate(calc(50% + 6px), -50%);
    cursor: pointer;
    display: inline-flex;
    appearance: none;
    align-items: center;
    justify-content: center;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1.2;
    font-weight: 600;
    transition-duration: 200ms;
    height: 1.5rem;
    min-width: 1.5rem;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 0;
    border-radius: 9999px;
}