/* Hide the prosemirror dropcursor */
.ProseMirror-dropcursor {
  display: none !important;
}

.editor {
  /* min-height: 40px; */

  /* line-height: var(--presentation-body-line-height) !important;
  font-weight: var(--presentation-body-weight) !important; */
  /* text-transform: var(--presentation-body-capitalization) !important; */
  /* color: var(--presentation-text-color) !important; */
  /* font-family: var(--presentation-body-font) !important;
  letter-spacing: var(--presentation-body-letter-spacing) !important; */
}


/* 
--presentation-body-capitalization
--presentation-body-font
--presentation-body-letter-spacing
--presentation-body-line-height
--presentation-body-weight
--presentation-text-color
 */
