.earlyTestBanner {
    background: var(--color-secondary);
    color: white;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    height: 37px;
    z-index: 30;
    display: none;
}

@media (min-width: 1024px) {
    .earlyTestBanner {
        display: block;
    }
}