.colorPicker {
    width: 100% !important;
}

.colorButton {
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: #D1D5DB;
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.colorPickerContent {
    display: flex;
    margin-top: 0.75rem;
    gap: 0.5rem;
    align-items: center;
}

.colorPickerButton {
    border-radius: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
}

.colorPickerInput {
    flex: 1 1 0%;
    background-color: #ffffff;
}

.removeIcon {
    width: 20px;
    height: 20px;
    color: #6B7280;
}

.removeButton {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    padding: 0.25rem;
    border-radius: 9999px;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover {
        background-color: #F3F4F6;
    }
}

.colorPickerContainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.alphaSlider {
    width: 5rem;
}