.tabItem {
    font-size: 0.875rem;
}

.sectionTitle {
    font-size: 24px;
}

.sectionSubtitle {
    font-size: 20px;
    font-weight: 600;
}

.tab {
    padding: 10px;
    border-radius: 10px;
    /* border: 1px solid #60a5fa; */
    cursor: pointer;
    /* color: #60a5fa; */
}

.selectedTab {
    /* background-color: #60a5fa; */
    /* border-color: #bfdbfe; */
    /* color: #3b82f6; */
    background-color: #bfdbfe;
}

.tabs {
    margin-top: 16px;
    padding-right: 16px;
    height: 100%;
    width: 240px;
    height: 100%;
    /* gap: 16px; */
    /* border-right: 1px solid #e2e8f0; */
}

.tabContent {
    /* margin-top: 16px; */
    padding-left: 16px;
    height: 100%;
    width: 100%;
    border-left: 1px solid #e2e8f0;
}

.accordion {
    border: 1px solid #e2e8f0;
    border-radius: 10px;
    padding: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    /* margin-left: 16px;
    margin-right: 16px; */
    background-color: #f8fafc;
}
