.radiusButton {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #e6e6e7;
    background-color: #e6e6e7;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.opacityButton,
.imageShapeButton {
    cursor: pointer;
    width: 92px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: 2px solid #e6e6e7;
}

.opacityButton {
    background-color: #e6e6e7;
    cursor: pointer;

}
.imageShapeButton {
    background-color: #fff;
}

.imageShapeButton {
    display: flex;
    flex-direction: row;
}

.imageShapeLeft,
.imageShapeRight {
    flex: 1;
    height: 100%;
    width: 100%;
    display: block;
}

.imageShapeRight {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    background: var(--chakra-colors-gray-200);
    color: var(--chakra-colors-gray-500);
    align-items: center;
    justify-content: end;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: left center;
    justify-content: center;
}

.imageShape-default {

}


.imageShape-default {

}

.imageShape-fade {
    mask-image: url(../../../../elements/masks/gradient-right.svg);
}

.imageShape-diagonal {
    mask-image: url(../../../../elements/masks/diagonal-right.svg);
}

.imageShape-round {
    mask-image: url(../../../../elements/masks/circle-right.svg);
}

.imageShape-round-inverse {
    mask-image: url(../../../../elements/masks/circle-inverted-right.svg);
}

.imageShape-wiggle {
    mask-image: url(../../../../elements/masks/wiggle-right.svg);
}

.opacityContent {
    width: 92px;
    height: 48px;
    background-color: white;
    position: absolute;
    bottom: -30%;
    left: -30%;
}

.imageShapeContentImage {
    margin-left: 10px;
}

.imageShapeActive {
    border-color: #60a5fa;

}

.radiusActive,
.opacityActive {
    background-color: #bfdbfe;
    border-color: #60a5fa;
}

.radiusContent {
    width: 48px;
    height: 48px;
    background-color: white;
    position: absolute;
}

.radiusContent {
    bottom: -30%;
    left: -30%;
}



.sectionTitle {
    font-size: 24px;
}
