.imageContainer {
    margin-left: -21px;
    padding-left: 21px;
}

.dot {
    position: absolute; 
    z-index: 20; 
    border: 2px solid #3b82f6; /* Синяя рамка */
    border-radius: 2px;
    width: 8px; 
    height: 8px; 
    background-color: white; 
}

.dotTopLeft {
    top: 0; 
    left: 0;
    transform: translate(-50%, -50%);
}

.dotTopRight {
    top: 0; 
    right: 0; 
    transform: translate(50%, -50%);
}

.dotBottomLeft {
    bottom: 0; 
    left: 0; 
    transform: translate(-50%, 50%);
}

.dotBottomRight {
    bottom: 0; 
    right: 0; 
    transform: translate(50%, 50%);
}

.dotTopMiddle {
    top: 0; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.dotBottomMiddle {
    bottom: 0; 
    left: 50%; 
    transform: translate(-50%, 50%);
}

.dotLeftMiddle {
    top: 50%; 
    left: 0; 
    transform: translate(-50%, -50%);
}

.dotRightMiddle {
    top: 50%; 
    right: 0; 
    transform: translate(50%, -50%);
}

.addTextPlaceholder {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    height: 100%;
    top: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-duration: 200ms;
    color: #726e6e;
    padding: 0.5rem;
}

.addTextPlaceholder:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1);
}

.leftTextPlaceholder {
    left: calc(-1 * var(--grid-padding));
    transform: translateX(-100%);
}

.rightTextPlaceholder {
    right: calc(-1 * var(--grid-padding));
    transform: translateX(100%);
}

.error {
    padding: 1rem; 
    border-radius: 0.25rem; 
    border-width: 1px; 
    border-color: #FECACA; 
    text-align: center; 
    color: #EF4444; 
}

.selectedBorder {
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    z-index: 10; 
    border-radius: var(--presentation-slide-border-radius); 
    border-width: 2px; 
    border-color: #3B82F6; 
    pointer-events: none; 
}

.left {
    margin-left: 0;
    margin-right: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.right {
    margin-left: auto;
    margin-right: 0;
}

.imageWrapper {
    position: relative; 
    width: 100%;
}

.image {
    border-radius: var(--presentation-slide-border-radius); 
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
}