.backgroundSettingsModal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
}

.backgroundSettingsModalBackdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.backgroundSettingsModalContent {
    position: relative;
    z-index: 10;
    padding: 1.5rem;
    border-radius: 0.75rem;
    width: 100%;
    max-width: 28rem;
    background-color: #ffffff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.backgroundSettingsModalContentTitle {
    margin-bottom: 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.backgroundSettingsModalContentColorPicker {
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.backgroundSettingsModalContentColorPickerLabel {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.backgroundSettingsModalContentColorPickerInput {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.25rem;
    border-width: 1px;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.backgroundSettingsModalContentColorPickerButtons {
    display: flex;
    margin-top: 1.5rem;
    gap: 0.5rem;
    justify-content: space-between;

}

.backgroundSettingsModalContentColorPickerButtonsButton {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    color: #374151;
    background-color: #F3F4F6;

    &:hover {
        background-color: #E5E7EB;
    }

    &:focus {
        outline-style: none;
    }
}

.saveButton {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    color: #ffffff;
    background-color: #2563EB;






    &:hover {
        background-color: #1D4ED8;
    }

    &:focus {
        outline-style: none;
    }
}

.closeModalButton {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    color: #9CA3AF;

    &:hover {
        color: #4B5563;
    }

    &:focus {
        outline-style: none; 
    }
}