.loadingContainer {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.spinner {
    height: 3rem;
    width: 3rem;
    border-radius: 9999px;
    border-top: 2px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
