.slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    position: relative;
    font-size: calc(1 * 1 * 1rem * 0.89 * 1.125);
}

.slideWrapper {
    border-radius: var(--presentation-slide-border-radius);
    max-width: calc(64.5em / 1);
    width: calc(64.5em / 1);
    /* background-color: #fff; */
    box-sizing: border-box;
    position: relative;
}

.slideContent {
    position: relative;
    background-color: var(--presentation-slide-background);
    border-color: var(--presentation-slide-border-color);
    border-radius: var(--presentation-slide-border-radius);
    border-width: var(--presentation-slide-border-width);
    box-shadow: var(--presentation-slide-shadow);
    width: 100%;
    cursor: text;
    /* padding-right: 1rem; */
    /* padding-left: calc(1rem + 25px); */
    margin-left: 0;
    overflow: hidden;
    /* font-size: var(--font-size); */
}

.slideContent::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 100%;
    z-index: 21;
}

.slideBorder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slideBorderSelected {
    position: absolute;
    inset: 0px;
    /* outline: 2px solid rgba(66, 153, 225, 0.6);
    box-shadow: 0 0 0 0.0625em #E5E0DF,0 0.25em 0.375em -0.0625em rgba(0, 0, 0, 0.1),0 0.125em 0.25em -0.0625em rgba(0, 0, 0, 0.06); */
    outline: 2px solid var(--control-stroke, rgba(66, 153, 225, 0.6));
    box-shadow: 0 0 0 0.0625em var(--control-stroke, #E5E0DF),0 0.25em 0.375em -0.0625em rgba(0, 0, 0, 0.1),0 0.125em 0.25em -0.0625em rgba(0, 0, 0, 0.06);
    backdrop-filter: none;
    /* background-color: #fff; */
    border-radius: var(--presentation-slide-border-radius);
}

.slideBorderMenuOpen {
    position: absolute;
    inset: 0px;
    outline: 2px solid #806cff;
    box-shadow: 0 0 0 0.0625em #E5E0DF,0 0.25em 0.375em -0.0625em rgba(0, 0, 0, 0.1),0 0.125em 0.25em -0.0625em rgba(0, 0, 0, 0.06);
    /* outline: 2px solid var(--control-stroke, #806cff);
    box-shadow: 0 0 0 0.0625em var(--control-stroke, #E5E0DF),0 0.25em 0.375em -0.0625em rgba(0, 0, 0, 0.1),0 0.125em 0.25em -0.0625em rgba(0, 0, 0, 0.06); */
    backdrop-filter: none;
    /* background-color: #fff; */
    border-radius: var(--presentation-slide-border-radius);
}

.slideContentSelected {
    border: 2px solid #000;
}

.slideSelected::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slideDivider {
    position: absolute;
    bottom: -3rem;
    transform: translateY(50%);
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 10;
}

.slideDividerHovered {
    opacity: 1;
}

.slideDividerButton {
    display: inline-flex;
    appearance: none;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1.2;
    font-weight: 600;
    transition-duration: 200ms;
    height: 2rem;
    font-size: 0.875rem;
    padding-inline-start: 0.75rem;
    padding-inline-end: 0.75rem;
    color: #3c3838;
    background: linear-gradient(180deg, #FFFFFF 0%, #FCF9F5 100%);
    border-width: 1px;
    border-style: solid;
    padding: 0px;
    border-radius: 0.375rem;
    box-shadow: none;
    min-width: 3rem;
    transition-property: none;
    border-color: #f7f3f2;
}

:global(.dark-theme) .slideDividerButton {
    background: var(--header-bg, #222);
    color: #fff;
}

.buttons {
    display: inline-flex;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0.375rem;
}

.slideDragHandle {
    top: 0.75rem;
    left: 0.5rem;
}

.slideContainer {
    position: relative; 
    width: calc(51.705882352941174em / var(--card-font-scale, 1)); 
    /* width: calc(64.5em / 1); */
    height: 100%; 
    padding: var(--card-inner-padding);
    min-height: calc(min(calc(64.5em / 1), 100vw) / 1.7777777777777777);
    /* background-color: var(--presentation-slide-background);
    border-color: var(--presentation-slide-border-color);
    border-radius: var(--presentation-slide-border-radius);
    border-width: var(--presentation-slide-border-width); */
    border-style: solid;
}
/* 


--presentation-slide-image-shape
round

--presentation-slide-shadow
md
 */
