.chartModal {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 130;
    background-color: #000000;
    --bg-opacity: 0.3;
}

.chartModalBackdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.chartModalBottomSheet {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    background-color: #ffffff;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.chartModalHeader {
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
}

.chartModalHeaderTitle {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: #111827;
}

.chartModalHeaderCloseButton {
    color: #9CA3AF;

    &:hover {
        color: #6B7280;
    }
}

.chartModalHeaderCloseButtonIcon {
    width: 1.5rem;
    height: 1.5rem;
}

.chartModalContent {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: calc(100vh - 20vh);

    @media (min-width: 1024px) {
        flex-direction: row;
    }
}

.chartModalContentLeftPanel {
    overflow: auto;
    padding: 1.5rem;
    border-bottom-width: 1px;
    width: 100%;

    @media (min-width: 1024px) {
        border-right-width: 1px;
        border-bottom-width: 0;
        width: 50%;
    }
}

.chartModalContentLeftPanelTitle {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #374151;
}

.chartModalContentLeftPanelChart {
    padding: 1rem;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: #E5E7EB;
    background-color: #ffffff;
}

.chartModalContentRightPanel {
    overflow: auto;
    width: 100%;



    @media (min-width: 1024px) {
        width: 50%;
    }
}