.smartLayoutSwitcher {
    display: flex; 
    padding: 0.5rem; 
    flex-direction: column; 
    gap: 0.5rem; 
    border-radius: 0.5rem; 
    background-color: #ffffff; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.smartLayoutSwitcherTitle {
    margin-bottom: 0.5rem; 
    font-size: 0.875rem;
    font-weight: 500; 
    line-height: 1.25rem; 
    color: #374151; 
}

.smartLayoutSwitcherItems {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    gap: 0.5rem; 
}

.smartLayoutSwitcherItem {
    display: flex; 
    padding: 0.5rem; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    border-radius: 0.25rem; 
    background-color: #DBEAFE; 
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 

    &:hover {
        background-color: #F3F4F6; 
    }
}

.smartLayoutSwitcherItemActive {
    background-color: #DBEAFE; 

    &:hover {
        background-color: #BFDBFE; 
    }
}

.smartLayoutSwitcherItemIcon {
    margin-bottom: 0.25rem; 
    font-size: 1.5rem;
    line-height: 2rem; 
}

.smartLayoutSwitcherItemLabel {
    font-size: 0.75rem;
    line-height: 1rem; 
    text-align: center; 
}

