.dragHandler {
    top: -20px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
}

.selected::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    outline: 2px solid var(--color-primary);
    border-radius: var(--presentation-slide-border-radius);
}

.container {
    position: relative;
    height: 100%;
    /* border-radius: var(--presentation-slide-border-radius);
    border-width: var(--presentation-block-border-width);
    box-shadow: var(--presentation-block-shadow); */
    /* border-color: var(--color-border); */
    border-style: solid;
    position: relative;
}
