.dragHandler {
    top: -20px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
}

.selected {
    outline: 2px solid #806cff;
}

.container {
    position: relative;
    height: 100%;
    border-radius: var(--presentation-slide-border-radius);
}

.dragImage {
    opacity: 0.5;
    background-color: #f0f0f0;
    border: 1px dashed #806cff;
    position: absolute;
    top: -1000px;
    left: -1000px;
    z-index: -1;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #333;
}
