.layoutContent {
    width: 100%;
    margin: 1rem 0;
    display: grid;
    position: relative;
    display: grid;
    position: relative;
    /* padding: 1rem; */

}

.multiCellLayout {
    margin-inline-start: calc(-1* var(--grid-padding));
    margin-inline-end: calc(-1* var(--grid-padding));
}

.layout {
    position: relative;
    padding-left: 25px;
    margin-left: -25px;
}

.layout::before {
    content: '';
    position: absolute;
    top: 0;
    left: -47px; /* -22px - 25px to match the left position of layoutDragHandle */
    width: 47px;
    height: 100%;
    z-index: 21;
}

.layoutDragHandle {
    /* top: 16px;
    left: -0.5rem; */
    top: 0;
    left: -20px;
    
}

.layoutSelected {
    border: 2px solid #806cff;
    position: absolute;
    top: 0;
    left: 2px;
    right: 22px;
    bottom: 0;
    z-index: 1;
}