.dragHandle {
    position: absolute;

    width: 16px;
    height: 25px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 900;
    font-family: Inter, sans-serif;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: var(--control-stroke, rgba(0, 0, 0, 0.08));
    color: var(--control-icon, #806cff);
    background-color: var(--drag-handle-background, #fff);
    border-radius: 0.125rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 16px;
    cursor: pointer;
    z-index: 22;
    transition: opacity 0.2s ease-in-out, border-color 0.2s ease-in-out, background 0.2s ease-in-out;
}

.visible {
    opacity: 1;
}

.active {
    background: var(--control-background, #eae7ff);
    backdrop-filter: blur(8px);
    color: var(--control-icon, #806cff);
    border-color: var(--control-stroke, rgba(0, 0, 0, 0.08));
}

.horizontal {
    transform: rotate(90deg);
}